<h2> Lista de Fiscalías</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Departamento</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.idFiscalia}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.telefonos}}</td>
      <td>{{item.idDepartamento.nombre}}</td>
      <td><a href="/fiscalia/edit/{{item.idFiscalia}}">Editar</a></td>
      <td><a href="/fiscalia/remove/{{item.idFiscalia}}">Eliminar</a></td>
    </tr>
  </tbody>
</table>