<div class="starter-template">
    <h1>Ministerio Público</h1>
    <p class="lead">ES UNA INSTITUCIÓN AUXILIAR DE LA ADMINISTRACIÓN PÚBLICA Y DE LOS TRIBUNALES CON FUNCIONES AUTÓNOMAS, CUYOS FINES SON VELAR POR EL ESTRICTO CUMPLIMIENTO DE LAS LEYES DEL PAÍS.</p>
  </div>