<form [formGroup] = "regForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre"  size="150">
    </div>
      <div class="form-group col-md-4">
      <label for="inputState">Departamento</label>
      <select formControlName="id_departamento" class="form-control">
        <option *ngFor="let departamento of departamentos" value="{{departamento.idDepartamento}}">
            {{departamento.nombre}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Direccion</label>
    <input type="text" class="form-control" formControlName="direccion" placeholder="" size="350">
  </div>
   <div class="form-group">
    <label for="inputAddress">Telefonos</label>
    <input type="text" class="form-control" formControlName="telefonos" id="inputAddress" placeholder="" size="100">
  </div>
  <button type="submit" class="btn btn-primary">Insertar</button>
</form>